.jumbotron{
    text-align: center;
    margin-top: 2.5%;
}
        
#download-btn{
    margin-left: 2%;
    margin-right: 2%;
}

#quickstart{
    text-align: center;
    margin-bottom: 3%;
}


#first-panel{
    
    margin-top: 5%;
    
}

.desciption{
    float: right;
}

.exlanation{
    margin-top: 5%;
    display: none;
}